<div class="container-fluid">
  <!-- .navbar-header contains links seen on xs & sm screens -->
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li class="nav-item">
          <img witdh = "163" height="37" class="logo" src = "assets/img/logo/logo-nav.png">
      </li>
      <li class="nav-item active" [routerLinkActive]="['active']" >
      <a [routerLinkActive]="['active']" [routerLink]="['/home']" class="nav-link" href="#"> <h3>Home</h3> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</div>
